
    .order-container { max-width:1100px; margin:50px auto }
    .category { margin-bottom:50px }
    .category h2 { border-bottom:2px solid #ddd; padding-bottom:10px }
    .product-card { display:flex; gap:20px; margin-top:20px }
    .variant-list { flex:1 }
    .variant { 
      display:flex; 
      justify-content:space-between; 
      padding:10px; 
      border-bottom:1px dashed #ccc 
    }
    .price { font-weight:bold }
    .btn { background:#4f46e5; color:#fff; padding:6px 12px; border-radius:6px }

    .modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-box {
  background: #fff;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
